/* You can add global styles to this file, and also import other style files */


body{
    background-image: url("./assets/back_pizza.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}