.menu-principal{
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
    height: 100vh;
}

::ng-deep .dx-toolbar {
    background-color: rgba(191, 191, 191, .15);
    padding: 5px 10px;
}